.cell {
  width: 20px;
  height: 20px;
  border: 1px solid red;
}

.cellFirstFood {
  background-color: white;
}

.cellSecondFood {
  background-color: blue;
}

.cellThirdFood {
  background-color: orange;
}

.cellSnake {
  background-color: green;
}
